body {
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 6fr;
}

h1 {
    font-size: 100px;
}

ul {
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

li:hover {
    text-decoration: underline;
}

.sidebar {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1,
.sidebar ul {
    color: white;
}

.main-content {
    height: 100vh;
    width: 100%;
    background-color: rgb(172, 172, 172);
}